:root
{
    --button-text: #2196f3;
    --header-fotter: #2f303a;
    --ourteam: #f5f4fa;
    --portfolio: #EEEEEE;
    --h1text: #FFFFFF;
    --add-information: #757575;
    --standart-text: #212121;
    --line: #ECECEC;
    --logoblack: #000;
}
.studia-name{
    color: var(--button-text);
}  
.container{
    width: 1170px;
    margin: 0 auto;
    
}
*,
*::after,
*::before{
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: currentColor;
}
ul{
    list-style: none;
    padding-left: 0;
    margin: 0 0 0 0;
}
body{
    font-family: Roboto;
}
.logo{
    padding-top: 24px;
    display: flex;
}
.header{
    display: flex;
    height: 80px;
}
.logo-web{
    color: var(--button-text);
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
    display: flex;
}
.logo-studio{
    color: var(--logoblack);
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
}
.nav-page{
    color: var(--standart-text);
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
    display: flex;
}
.nav-page:hover{
    color: var(--button-text);
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
}
.div-contact{
    color: var(--add-information);
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
    display: flex;
}
.div-contact:hover{
    color: var(--button-text);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
}
.deicsion{
    background-color: var(--header-fotter);
    height: 600px;
}
.nav{
    display: flex;
    padding-top: 32px;
}
.nav-ul{
    margin: 0px 344px 0px 93px;
    
    display: flex;
    width: 281px;
    justify-content: space-between;
}
.div{
    display: flex;
    padding-top: 32px;
    justify-content: space-between;
    width: 307px;
}
.studia{
    color: var(--button-text);
}
.portfolio{
    color: var(--button-text);
}
.decision-text{
    color: var(--h1text);
    padding: 200px 0 30px 0;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36364;
    letter-spacing: 2.64px;
    text-transform: uppercase;
    margin:0 auto 0 auto;
    text-align: center;
    width: 696px;
}
.decision-button{
    border-radius: 4px;
    background: #2196F3;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: var(--h1text);
    font-size: 16px;
    font-weight: 700;
    line-height: 1.875;
    letter-spacing: 0.96px;
    width: 216px;
    height: 50px;
    margin:0 auto 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.decision-button-text{
    text-align: center;
}
.prefer-ul{
    display: flex;
    justify-content: space-between;
    padding: 56px;
}
.prefer-li{
    width: 270px;
}
.prefer-title{
    color: var(--standart-text);
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin: 0 0 0 0;
}
.prefer-text{
    color: var(--add-information);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71429;
    letter-spacing: 0.42px;
}
.work-title,.team-title{
    color: var(--standart-text);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;
}
.work-title{
    display: flex;
    padding-left: 402px;
    padding-bottom: 50px;
    padding-top: 56px;
    margin: 0 0 0 0;
}
.work{
    height: 442px;
}
.team{
    background-color: var(--ourteam);
}
.team-title{
    display: flex;
    padding-left: 453px;
    margin: 0 0 0 0;
    padding-bottom: 50px;
    padding-top: 94px;
}
.work-ul{
    display: flex;
    justify-content: space-between;
}
.work-img{
    width: 370px;
    height: 294px;
}
.team-name{
    color: var(--standart-text);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;    
    letter-spacing: 0.48px; 
}
.team-work{
    color: var(--add-information);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.48px;
}
.team-ul{
    display: flex;
    justify-content: space-between;
    padding-bottom: 94px;
}
.team-li{
    background-color: var(--h1text);
}
.team-image{
    width: 270px;
    height: 260px;
}
footer{
    background-color: var(--header-fotter);
}
.logo-footer{
    display: flex;
    padding: 60px 0 20px;
}
.footer-contact{
    color: rgba(255, 255, 255, 0.60);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.71429;
    letter-spacing: 0.42px;
}
.logo-studio-footer{
    color: var(--h1text);
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
}
.footer-location{
    color: var(--h1text);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71429; 
    letter-spacing: 0.42px;
}
.footer-div{
    display: flex;
    height: 141px;
    padding-bottom: 60px;
    justify-content: space-between;
    flex-direction: column;
}
.portfolio-button{
    border-radius: 4px;
    background: var(--ourteam); 
    color: var(--standart-text);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.625; /* 162.5% */
    letter-spacing: 0.48px;   
}
.portfolio-button:hover{
    border-radius: 4px;
    background: var(--button-text);
    color: var(--h1text);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.625; /* % */
    letter-spacing: 0.48px;
    /* shadow-middle */
    box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 2px 2px 0px rgba(0, 0, 0, 0.12);  
}
.portfolio-title{
    color: var(--standart-text);
    font-size: 18px;
    font-weight: 700;
    line-height: 2; /* 200% */
    letter-spacing: 1.08px;
}
.portfolio-text{
    color: var(--add-information);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.875; /* 187.5% */
    letter-spacing: 0.48px;
}
.portfolio-ulbuttons{
    display: flex;
    width: 575px;
    margin: 0 auto 0 auto;
    padding: 94px 0;
    justify-content: space-between;
}
.all{
    width: 73px;
    height: 38px;
    flex-shrink: 0;
}
.web-site{
    width: 125px;
    height: 38px;
    flex-shrink: 0;
}
.dodact{
width: 112px;
height: 38px;
flex-shrink: 0;
}
.disagn{
width: 103px;
height: 38px;
flex-shrink: 0;
}
.market{
width: 130px;
height: 38px;
flex-shrink: 0;
}
.portfolio-portfolio{
    display: flex;
    margin: 0 auto 0 auto;
    width: 1170px;
    height: 1366px;    
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 94px;
}
.portfolio-portfolio>li{
    border: 1px solid var(--portfolio);
    background: var(--h1text);
    height: 404px;
}
.portfolio-portfolio>li>h3{
    margin: 20px 0px 4px 24px;
}
.portfolio-portfolio>li>p{
    margin: 0 0 0 24px;
}